@import "~bootstrap/scss/bootstrap";

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

.img-show{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img-show{
    height: 360px;
}

main{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url('/public/home-background.jpg');
    color: white;
}

.background-home{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1{
            color: white;
            font-weight: 900;
            font-size: 88px;
        }
    }
}

